
.FAQborder {
  border: 1px white solid;
  background-color: #eeece1;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding: 5px 7px 5px 7px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.answer {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 14px;
}

.active.answer {
  display: none;
}